.tech-container
{
    background-color: whitesmoke !important;
    overflow: hidden;
    border: 2px solid rgb(51, 48, 48);
    padding-left: 6px;
    padding-right: 6px;
    min-width: 10em;
    box-shadow: 2.5px 5px 4px #888888;
}
    .tech-container > span {
        font-size: 1.5em;
    }
    .tech-icon
    {
        color: black;
        font-size: 1.3em;
        margin-right: 8px;
    }
    .tech-name
    {
        color: black;
        font-weight: bold;
        text-transform: capitalize;
    }

@media screen and (max-width: 393px) {

    .tech-container
    {
        width: 13em;
    }

}