.entry-footer
{
    width: 99%
}
    .eb-footer
    {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
        .aboutme-container
        {
            /* border: 2px solid red; */
        }
            .aboutme-container > p
            {
                /* border: 2px solid blue; */
                padding-left: 1em;
                padding-right: 1em;
            }


        .highlights-container
        {
            /* border: 2px solid green; */
            width: 99%;
        }
            .notes-container
            {
                /* border: 2px solid red; */
                padding-left: 1.2em;
                
            }
                .notes-container >  li
                {
                    /* border: 2px solid red; */
                    padding-right: 2em;
                    margin-bottom: 8px; 
                    
                }
        .ack-container
        {
            /* border: 2px solid blue; */

        }
            .ack-container > ul
            {
                padding-left: 1.2em;
            }
                .ack-container > ul > li
                {
                    margin-bottom: 8px;
                }
                    .collaborators-container
                    {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 2em;
                    }

