.entry-link-wrapper
{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    width: 5em;
}
    .entry-link-wrapper:hover
    {
        cursor: pointer;
    }
    .entry-link-icon
    {
        border: 2px solid #000000;
        box-shadow: 1px 1px 10px black;
        border-radius: 4%;
        width: 4em;
        margin: auto;
    }
        .entry-link-icon:hover
        {
            box-shadow: none;
            cursor: pointer;
        }
        .entry-link-icon > span
        {
            color: black;
            font-size: 1.2em;
        }
        .entry-link-name
        {
            /* font-size: 0.9em; */
            text-transform: capitalize;
            text-align: center;
            text-decoration: none;
            color: white;
        }
/* 
@media only screen and (max-width: 320px) 
{
    .entry-link-wrapper
    {
        width: 2.5em;
    }
        .entry-link-icon
        {
            height: 2.7em;
        }

        .entry-link-name
        {
            font-size: 0.4em;
        }

} */