.entry-container
{
    background-image: url('../../assets/textures/cardboard.png');
    overflow: hidden;
    border: 2px solid black;
    margin-top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
}
.entry-container > * 
{
    /* border: 20px solid pink; */
}
    .entry-title
    {
        text-align: center;
    }
    
        