.elt-btn
{
    border: 2px solid #383838;
    color: #f8f8f8;
    text-transform: capitalize;
    font-size: 1.2em;
}

.elt-btn:hover{
    cursor: pointer;
    color: #f8f8f8;
}

.elt-icon
{
    margin-right: 0.5em;
}

.elt-github
{
    background-color: #383838;
    color: #f8f8f8
}
.elt-demo
{
    background-color: #3CB043;
    border: 2px solid #398f3f;
}