a{
    text-decoration: none;
}
.ref-container
{
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 6%;
    width: 10em;
    height: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 8px;
}
    .ref-container:hover
    {
        background-color: gold;
    }
    .ref-container > *
    {
        margin: auto;
    }
    .ref-container > span
    {
        font-size: 2.2em;
        text-align: center;
        margin-right: 8px;
    }
    .ref-container > p
    {
        font-weight: bold;
        text-transform: capitalize;
    }