@use '../../scss/utilities.scss' as util;

// .social-container
// {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     text-decoration: none !important;
// }

.social-btn
{
    border: none !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none !important;
    gap: 0.5em;

    text-decoration: none !important;
    background-color: #4E4B4B;

    // font-weight: bolder !important;

    span {
        // color: #f8f8f8;
        color: util.$light-font-color;
        font-size: 1.1em;
    }

    .social-btn-name {
        text-transform: capitalize;
    }

}  

@media screen and (max-width: 648px) {
    .social-btn {
        display: flex;
        flex-direction: column;
        gap: 0;
        .social-btn-icon {
            font-size: 1.4em;
        }

        .social-btn-name {
            font-size: 0.4em;
        }
    }
}
