.social-container
{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none !important;
}

.social-btn
{
    /* border: 2px solid red !important; */
    width: 3em;
    height: 3em;
    padding: 0 !important;
    text-decoration: none !important;
    margin: auto;
}  
    .social-btn-icon
    {
        color: black;
        font-size: 1.5em;
    }
    .social-btn-name
    {
        color: white !important;
        text-transform: capitalize;
    }
