.social-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none !important;
}

.social-btn
{
    width: 2.5em;
    height: 2.5em;
    padding: 0 !important;
    text-decoration: none !important;
    margin: auto;
    background-color: #4E4B4B !important;
    /* border: 2px solid red !important; */

}  
    .social-btn-icon
    {
        color: #f8f8f8;
        font-size: 1.5em;
    }
    .social-btn-name
    {
        color: #4E4B4B !important;
        text-transform: capitalize;
    }
