.link-button
{
    border: 2px solid #383838;
    background-color: #383838;
    width: 25em;
    height: 3.2em;
    align-items: center;
    border-radius: 5em;
}
 .link-button p {
     font-style: normal;
     color: #F8F8F8;
     margin: 0 !important;
 }

 @media screen and (max-width: 428px) {
     .link-button {
         width: 20em;
         height: 2.5em;
     }
 }

 @media screen and (max-width: 414px) {
    .link-button {
        width: 19em;
        height: 2.5em;
    }
}

 @media screen and (max-width: 393px) {
    .link-button {
        width: 18em;
        height: 2.5em;
    }
}

@media screen and (max-width: 375px) {
    .link-button {
        width: 15em;
        height: 2.2em;
    }

    .link-button p {
        font-size: 0.8em;
    }
}


@media screen and (max-width: 296px) {
    .link-button {
        width: 13em;
        height: 2em;
    }
    .link-button p {
        font-size: 0.7em;
    }
}