.header-body-container
{
    /* border: 2px solid red; */
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px; 
}
    .profile-img
    {
        border: 2px solid black;
        width: 13em;
        height: 13em;
    }
        .profile-img > img
        {
            width: 100%;
            height: 100%;
        }
    .header-body-summary
    {
        margin-left: 0px;
        /* border: 2px solid blue; */
        overflow: hidden;
    }
        .header-descr
        {
            margin-top: 1em;
            text-align: center;
            /* border: 2px solid green; */
            /* width: 45em; */
        }