.blurb-container
{
    border: 2px solid red;
    display: flex;
}
    .blb-img-container
    {
        border: 2px solid green;
        overflow: hidden;
        width: 20em;
        height: 20em;
    }
        .blb-img
        {
            width: 100%;
        }
    .blurb-context
    {
        border: 2px solid blue;
    }