.tech {
    // border: 2px solid red !important;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 9em;
    height: 2.3em;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;


    .tech-name {
        margin-left: 5px;
    }
}

@media screen and (max-width: 393px) {

    // .tech-container
    // {
    //     width: 13em;
    // }

}