.tech-container
{
    background-color: whitesmoke;
    overflow: hidden;
    border: 2px solid black;
    /* padding: auto; */
    padding-left: 6px;
    padding-right: 6px;
    width: 8em;
    height: 1.8em;
    box-shadow: 2.5px 5px 4px #888888;
    /* margin: auto; */
}
    .tech-data
    {
        /* border: 2px solid green; */
        width: 8em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 2px;
    }
        .tech-icon
        {
            color: black;
            font-size: 1.3em;
            margin-right: 8px;
        }
            .tech-icon > span
            {
                /* border: 2px solid red; */
            }
        .tech-name
        {
            /* border: 2px solid blue; */
            font-weight: bold;
            text-transform: capitalize;
        }
            .tech-name > span
            {
                /* border: 2px solid red; */
                
            }


@media only screen and (max-width: 375px) 
{
    .tech-container
    {
        width: 7em;
        height: 1.8em;
    }
    .tech-icon
    {
        color: black;
        font-size: 1.1em;
        /* margin-right: 8px; */
    }
    .tech-name
    {
        /* border: 2px solid blue; */
        font-size: 0.8em;
        font-weight: bold;
        text-transform: capitalize;
    }
}