a{
    text-decoration: none;
}
.ref-container
{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    width: 6em;
    height: 5em;

    overflow: hidden;
    margin-right: 5px; 
}
    .ref-container:hover
    {
        background-color: gold;
    }
    .ref-icon
    {
        margin-bottom: 0px;
        font-size: 2.2em;
        /* border: 2px solid red; */
    }
    .ref-name
    {
        margin-top: 0px;
        text-transform: capitalize;
        /* border: 2px solid blue;  */
        
    }
    .ref-container:hover
    {
        background-color: gold;
    }


@media only screen and (max-width: 425px) {
    .ref-container
    {
        border-radius: 6%;
        width: 4em;
        height: 4em;
    }   
    .ref-container > span
    {
        font-size: 1.8em;
    }
    .ref-container > p
    {
        font-size: 0.7em;
    }
}