.project-page {
    .project-list-wrapper {
        display: flex;
        justify-content: center;
    }
    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        gap: 20px;
    }

}