@use './brandColors.scss' as brand;
@use './main.scss' as main;

.rsIcon.instagram {
    color: brand.$instagram;
}

.rsIcon.linkedin {
    color: brand.$linkedin;
}

.rsIcon.github {
    color: brand.$github;
}

.rsIcon.discord {
    color: brand.$discord;
}

.rsIcon.play {
    color: #1ce783;
}

.rsIcon.basic {
    color: main.$rsTextDark;
}

.rsIcon.css  {
    color: brand.$css; 
}

.rsIcon.html {
    color: brand.$html;
}

.rsIcon.javascript {
    color: brand.$javascript; 
}

.rsIcon.react {
    color: brand.$react;
}