@import "../Entry.scss";


.eo-cntr
{
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.eo-created {
    /* border: 2px solid blue; */
    width: $entryContentWidth;
    text-align: right; 
    align-self:center;
}

.ref-links {
    // border: 2px solid blue;
    align-self: center;
    width: $entryContentWidth;
    list-style: none;
    padding-left: 0em;
}

.eol-icon {
    padding-right: 0.6em;
}

.eod-cntr {
    // border: 2px solid blue;
    align-self: center;
    width: $entryContentWidth;
}

@media screen and (max-width: 280px) {
    .eol-icon, .eol-label
    {
        font-size: 0.8em;
    }
}