.emd-cntr
{
    margin-top: 0.7em;
}
    .emd-media
    {
        /* border: 2px solid blue; */
        width: 100% !important;
        height: 35em !important;
    }

    .emd-carousel
    {
        /* border: 2px solid red; */
        margin-top: 0.5em !important;
        margin: auto;
        width: 45em;
        height: 40em;
        margin-bottom: 1em;
        max-width: 45em;
        max-height: 45em;
        overflow: hidden;
    }

    .image-item .carousel-img
    {
        height: 20% !important;
        
    }
    .emd-carousel > ol > li
    {
        background-color: #41c0eb !important;
    }

@media screen and (max-width: 768px) {
    .emd-carousel
    {
        /* border: 2px solid red; */
        width: 35em;
        height: 30em;
    }
}