.header {
  /* background-color: #f8f8f8; */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1em;

    .rs-background-cntr {
      width: 50em;
      height: 20em;
        .rs-background {
          width: 100%;
          height: 100%;
        }
    }

    .description {
      display: flex;
      flex-direction: row;

      border-radius: 1%;
      
      background-color: rgba(239, 241, 237, 0.8);
      width: 30em;
      height: 12em;

      left: 0; 
      right: 0; 
      top: 0;

      margin-left: auto; 
      margin-right: auto;
      margin-top: 7em !important;

      .my-name {
        text-transform: capitalize;
      }
      
    }

    .description > * {
      margin: auto;
      margin-left: 1em;
      
    }
}

.profile-img {
  width: 10em;
  height: 10em;
}
.profile-img > img {
  width: 100%;
  height: 100%;
}
.header-body-summary {
  margin-left: 0px;
  overflow: hidden;
}

.header-body-summary .titles {
  font-size: 1.5em;
}
.header-descr {
  margin-top: 1em;
}

@media only screen and (max-width: 485px) {
  .header .description {
    width: 25em;
    height: 12em;
    gap: 15px;
  }
}

@media only screen and (max-width: 404px) {
  .header {
    
    .description {
      flex-direction: column;
      width: 20em;
      height: 18em;
      gap: 0;

      margin-top: 2.7em !important;

      .profile-img {
        margin-bottom: 0;
        margin-top: 5px;
      }

    }
  }
}

@media only screen and (max-width: 325px) {
  .header {
    
    .description {
      flex-direction: column;
      width: 15em;
      height: 18em;
      gap: 0;

      margin-top: 2.7em !important;

      .profile-img {
        margin-bottom: 0;
        margin-top: 5px;
      }

    }
  }
}

// @media only screen and (max-width: 1440px) {
//   .header-body-summary {
//     width: 50%;
//   }
// }
// @media only screen and (max-width: 768px) {
//   .header-body-summary {
//     width: 90%;
//   }
// }
