@use "../../styling/main.scss" as *;

.rs-navbar {
    background-color: $rsMainColor;
    
    .disabled {
        cursor: default;
    }
    .disabled:hover {
        color: $rsTextLight;
    }

    a, span, a:focus {
        color: $rsTextLight;
    }

    a {
        font-weight: 500;
        text-transform: capitalize;
    }

    a:hover  {
        color: $rsAccentColor;
    }

    a.rsPageTab.selected {
        color: $rsAccentColor;
    }
}