$imgModalSize: 45em;
.img-modal {
    width: $imgModalSize;
    max-width: $imgModalSize;
    
    .modal-content {
        background-color: #EFF1ED ;
    }

    .img-header {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: none;
    }
    .img-container {
        overflow: hidden;
        display: flex;
        justify-content: center;
        max-height: 30em;
        height: 30em;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1024px) {
    .img-modal
    {
        width: 80%;

        .img-container {
            // border: 2px solid red;
            width: 100%;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

}