$imgModalSize: 45em;
.img-modal {
    width: $imgModalSize;
    max-width: $imgModalSize;
    
    .modal-content {
        background-color: #EFF1ED ;
    }

    .img-header {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: none;
    }
    .img-container {
        overflow: hidden;
        display: flex;
        justify-content: center;
        max-height: 30em;
        height: 30em;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1024px) {
    .img-modal
    {
        width: 80%;

        .img-container {
            // border: 2px solid red;
            width: 100%;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

}

// @media screen and (max-width: 933px) {
//     .article-modal-wrapper {
//         width: 42em;
        
//     }
// }

// @media screen and (max-width: 788px) {
//     .article-modal-wrapper {
//         width: 42em;
        
//     }
// }

// @media screen and (max-width: 726px) {
//     .article-modal-wrapper {
//         width: 35em;
        
//     }
// }

// @media screen and (max-width: 596px) {
//     .article-modal-wrapper {
//         width: 32em;
//     }
// }

// @media screen and (max-width: 547px) {
//     .article-modal-wrapper {
//         width: 31em;
//     }
// }

// @media screen and (max-width: 518px) {
//     .article-modal-wrapper {
//         width: 26em;
//     }

//     .article-title {
//         text-align: center;
//     }
// }

// @media screen and (max-width: 456px) {
//     .article-modal-wrapper {
//         width: 25em;
//     }

//     .article-title {
//         text-align: center;
//     }
// }


// @media screen and (max-width: 443px) {
//     .article-modal-wrapper {
//         width: 24em;
//     }

//     .article-title {
//         text-align: center;
//     }
// }


// @media screen and (max-width: 428px) {
//     .article-modal-wrapper {
//         width: 26em;
//     }

//     .article-title {
//         text-align: center;
//     }
// }


// @media screen and (max-width: 396px) {
//     .article-modal-wrapper {
//         width: 23em;
//     }
//     .article-title {
//         text-align: center;
//     }
// }
// @media screen and (max-width: 381px) {
//     .article-modal-wrapper {
//         width: 21em;
//     }
//     .article-title {
//         text-align: center;
//     }
// }
// @media screen and (max-width: 376px) {
//     .article-modal-wrapper {
//         width: 22.2em;
//     }
//     .article-title {
//         text-align: center;
//     }
// }

// @media screen and (max-width: 326px) {
//     .article-modal-wrapper {
//         width: 17em;
//     }

//     .article-title {
//         text-align: center;
//     }
// }

// @media screen and (max-width: 280px) {
//     .article-modal-wrapper {
//         width: 14em;
//     }

//     .article-title {
//         text-align: center;
//     }
// }