.media-wrapper
{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
    .media-container
    {
        /* border: 2px solid red; */
        width: 30em;
        height: 22em;
    }
        .entry-img
        {
            max-width: 100%;
            max-height: 100%;
        }
    .media-indexes
    {
        /* border: 2px solid green; */
        width: 15em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.0em;
        margin: auto;
    }
        .index-bubble
        {
            /* border: 2px solid orange; */
            color: black;
        }
        .index-shaded 
        {
            color: #0fbaf2 !important;
        }

@media only screen and (max-width: 550px) 
{
    .media-wrapper
    {
        /* border: 2px solid green; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .media-container
    {
        /* border: 2px solid red; */
        width: auto;
        height: auto;
    }
}