.tab-container
{
   margin-top: 2em;
   display: flex;
   justify-content: center;
}
    .tab-container > button
    {
        background-color: whitesmoke;
        width: 10em;
        height: 5em;
        border: 2px solid black;
        font-weight: bold;
        padding: 0;
    }
        .tab-container > button > p
        {
            font-size: 1.5em;
        }
    .activities-btn
    {
        margin-left: 2em;
    }

    
