$galleryItemSize: 12em;
.gallery-container {
    margin-top: 0.4em !important;
    overflow: hidden;
    max-height: calc( (2 * $galleryItemSize) + 1em);
    overflow-y: auto;
    margin: 0 auto;
    padding: 0 2rem;

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.1em 0.1em;

        .gallery-item {
            border: 2px solid #342E37;
            width: $galleryItemSize;
            height: $galleryItemSize;
            
        }

        .gallery-item:hover {
            filter: grayscale(1);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 988px) {
    
    .gallery-container {
        .gallery {
            // border: 2px solid red;
            justify-content: center;
        }
    }
}


