$buttonSize: 2.1em;


.cl-container
{
    // border: 2px solid red; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3px;
}
    .cl-icon
    {
        border: none !important;
        background-color: transparent !important;
        color: black !important;
        width: $buttonSize; 
        height: $buttonSize;
        padding: 0;
        margin: auto;

    }
        .cl-icon-content
        {
            padding: 0 !important;
            height: 100%;
            margin: 0;
            font-size: 1.5em;
        }
            .cl-icon:hover
            {
                cursor: pointer;
            }
    .cl-name-container
    {
        text-align: center;
    }
        .cl-name-container > p
        {
            font-size: 0.8em;
            padding: 0;
            margin: 0;
        }