$entryContentWidth: 90%;


.article-title {
    margin: auto;
    
    .title {
        font-weight: bolder;    
    }

    .divider {
        margin: 0 0.4em;
    }
    .entry-type {
        font-size: 0.6em;
    }
}


.article-modal-wrapper
{
    max-width: none !important;
    max-height: none !important;
    width: 62em;

    .modal-content {
        border-radius: 0 !important;
        // height: 126em; //100%;
        .modal-header {
             .close {
                margin-left: 0 !important;
                span {
                    font-weight: 1.6em;
                }
            }
        }
    }

    .elt-cntr {
        display: flex;
        justify-content: flex-end; 
        :last-child {
            margin-left: 0.5em;
        }
    }

    .tab-wrapper {
        margin-top: 1em;
        padding-left: 2em;
        padding-right: 2em;

        .tab-content {
            height: 25em;
            overflow-y: auto;
            overflow-x: hidden;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

}


// Fade in from bottom - https://stackoverflow.com/questions/34164889/how-to-make-a-bootstrap-modal-fade-in-from-the-bottom
.modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);

}
    
.modal.show .modal-dialog {
    transform: translate3d(0, 0, 0);
    transition: all 0.30s ease-out;
}

@media screen and (max-width: 1024px) {
    .article-modal-wrapper
    {
        width: 55em;
    }
}

@media screen and (max-width: 933px) {
    .article-modal-wrapper {
        width: 42em;
        
    }
}

@media screen and (max-width: 788px) {
    .article-modal-wrapper {
        width: 42em;
        
    }
}

@media screen and (max-width: 726px) {
    .article-modal-wrapper {
        width: 35em;
        
    }
}

@media screen and (max-width: 596px) {
    .article-modal-wrapper {
        width: 32em;
    }
}

@media screen and (max-width: 547px) {
    .article-modal-wrapper {
        width: 31em;
    }
}

@media screen and (max-width: 518px) {
    .article-modal-wrapper {
        width: 26em;
    }

    .article-title {
        text-align: center;
    }
}

@media screen and (max-width: 456px) {
    .article-modal-wrapper {
        width: 25em;
    }

    .article-title {
        text-align: center;
    }
}


@media screen and (max-width: 443px) {
    .article-modal-wrapper {
        width: 24em;
    }

    .article-title {
        text-align: center;
    }
}


@media screen and (max-width: 428px) {
    .article-modal-wrapper {
        width: 26em;
    }

    .article-title {
        text-align: center;
    }
}


@media screen and (max-width: 396px) {
    .article-modal-wrapper {
        width: 23em;
    }
    .article-title {
        text-align: center;
    }
}
@media screen and (max-width: 381px) {
    .article-modal-wrapper {
        width: 21em;
    }
    .article-title {
        text-align: center;
    }
}
@media screen and (max-width: 376px) {
    .article-modal-wrapper {
        width: 22.2em;
    }
    .article-title {
        text-align: center;
    }
}

@media screen and (max-width: 326px) {
    .article-modal-wrapper {
        width: 17em;
    }

    .article-title {
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .article-modal-wrapper {
        width: 14em;
    }

    .article-title {
        text-align: center;
    }
}