// @import "../ArticleModal.scss";
$techContainerWidth: 9em;
$techContainerHeight: 2.5em;
$techGalleryWidth: calc((3 * $techContainerWidth) + 25px);
$techGalleryMaxHeight: calc((6 * $techContainerHeight) + 18px);

.technology-gallery-centered {
    margin: auto;
}
.technology-gallery {
    // border: 2px solid green;
    width: $techGalleryWidth;
    max-height: $techGalleryMaxHeight;
    overflow-y: auto;
    padding-top: 5px;

    // margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;

    .tech-container {
        // border: 2px solid red;
        width: $techContainerWidth;
        height: $techContainerHeight;
        display: flex;
        justify-content: center;
        overflow: hidden;

    }
}


// .eot-cntr
// {
//     // border: 2px solid red;
//     align-self: center;
//     display: flex;
//     flex-direction: column;
//     width: $entryContentWidth;
// }

//     .tl-cntr {
//         align-self: center;
//         width: 100%;
//         margin-top: 0.5em;
//         // border: 2px solid red;
//     }

//     .eot-title {
//         align-self: center;
//         padding-bottom: 0.1em;
//         margin-bottom: 0px;
        
//     }
//     .eot-caption {
//         align-self: center;
//         margin-top: 0px;
//     }

//     .tl-cntr > .tech-container {
//         margin-left: 0.5em;
//         margin-right: 0.5em;
//     }

// @media screen and (max-width: 393px) {
//     .tl-cntr {
//         width: 70%;
//     }
    
// }