.display-page {
    
    .display-header {
        display: grid;
        flex-direction: row;
        flex-wrap: nowrap;

        .page-controls {
            // justify-content:last baseline;
        }

        .display-title {
            display: flex;
            justify-content: center;
        }

    }


}