.entry-menu
{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-height: 30em !important;
}
    .entry-menu-error-msg
    {
        /* margin: auto; */
        box-shadow: 0px 0px 8px #ebcd6b;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        max-width: 40em;
        padding: 2em;
    }
    .entry-menu > .navbar
    {
        border: 2px solid black;
        background-color: #33393D; 
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .entry-dropdown
    {
        border: 2px solid black;
        border-radius: 5px;
        background-color: #FEFEFE;
        width: auto;
    }
        .has-applied-filters
        {
            background-color: #0fbaf2;
        }
        .entry-dropdown > .filter-item.selected
        {
            background-color: #0fbaf2 !important;
        }
        .entry-dropdown > .filter-item.fake
        {
            background-color: gold !important;
        }

        .filter-item
        {
            text-transform: capitalize;
        }
            .filter-item:hover
            {
                background-color: #FFC025 !important;
            }
        
        .filter-item.selected, .entry-btn-wrapper > button.selected 
        {
            background-color: #0fbaf2 !important;
        }
        .entry-btn-wrapper > button
        {
            border: 2px solid black;
            background-color: whitesmoke;
            background-color: whitesmoke;
            color: black;
        }

        button.projects
        {
            margin-left: 10px;
        }

            button.projects:hover
            {
                background-color: #FFC025 !important;
            }
            button.activities:hover
            {
                background-color: #FFC025 !important;
            }


@media only screen and (max-width: 320px) 
{

    .entry-menu > .navbar
    {
        flex-direction: column-reverse;
    }
        .entry-btn-wrapper
        {
            margin-bottom: 6px;
        }
}