.card-header
{
    /* border: 2px solid red; */
    background-color: #33393D !important;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    justify-items: stretch;
}
    .likes-container
    {
        justify-self: start;
        width: 12em;
        display: block;
        margin: auto;
    }
        .back-btn
        {
            border: 2px solid #41c0eb !important;
            background-color: #FEFEFE!important;
            float: left;
        }
            .back-btn:hover
            {
                background-color: #0fbaf2  !important;
            }
        .like-btn
        {
            border: 2px solid hsl(0, 95%, 83%) !important;
            background-color: hsl(0, 88%, 90%)!important;
            color: black !important;
            float: right;
            /* width: 3em; */
        }
            .like-btn > span.heart-icon
            {
                margin-right: 0.5em;
                color: rgb(253, 113, 113);
            }
            .like-btn:hover
            {
                background-color: hsl(0, 95%, 83%) !important;
                border: 2px solid hsl(0, 95%, 83%) !important;
            }
        

    .card-header > .card-title
    {
        margin: auto !important;
        justify-self: center;
        font-size: 1.8em;
        text-align: center;
        text-transform: capitalize;
    }
    .card-links
    {
        /* border: 2px solid red; */
        justify-self: end;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 16em;
    }

@media only screen and (max-width: 425px) 
{

    .card-header
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
        .card-header > *
        {
            margin: auto;
        }

        .likes-container
        {

            order: 3;
        }

        .card-header > .card-title
        {
            order: 1;
            margin-bottom: 0.2em !important;
        }

        .card-links
        {
            order: 2;
            justify-content: space-evenly;
            margin-bottom: 0.6em !important;
        }
}