.collab-cntr
{
    /* border: 2px solid red;  */
    margin: auto;
    width: 50em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .collab-cntr > *
    {
        margin: auto;
    }

.collab-cntr .cl-cntr {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 425px) {
    .collab-cntr
    {
        width: 20em;
    }
}

@media screen and (max-width: 393px) {
    .collab-cntr
    {
        width: 18em;
    }
}

@media screen and (max-width: 320px) {
    .collab-cntr
    {
        width: 13em;

    }
}