.techdisplay-container
{
    /* border: 2px solid red; */
    border-radius: 2%;
    width: 30em;
    max-height: 10em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 8px;
    padding: 8px;
}

@media only screen and (max-width: 529px) 
{
    .techdisplay-container
    {
        /* border: 2px solid red; */
        grid-template-columns: repeat(2, auto);
        /* justify-items: flex-start; */
        overflow-y: scroll;
        width: 97%;
        padding: 0;
        column-gap: 0;


    }
    .techdisplay-container::-webkit-scrollbar
    {
        display: none;
    }
}