$image-size: 5em;

.cc-cntr
{
    border: 2px solid #D7D4D4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
    box-shadow: -1px 1px 5px -1px #D7D4D4;
    overflow: hidden;
}

.cc-image
{
    width: $image-size;
    height: $image-size !important;
    margin: auto;
    
}

.cc-content
{
    width: 15em;
}

.cc-name
{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0 !important;
    font-size: 1.4em;
    margin-bottom: 0;
}

.cc-role
{
    text-align: center;
    font-size: 1em;
    text-transform: capitalize;
    margin-bottom: 6px;
    margin-top: 0;
}

.cc-link-cntr
{
    // border: 2px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 414px) {
    .cc-cntr
    {
        width: 19em;
    }
}

@media screen and (max-width: 396px) {
    .cc-cntr
    {
        width: 16em;
    }
}

@media screen and (max-width: 326px) {
    .cc-cntr
    {
        width: 11em;
        height: 5.5em;
    }

    .cc-image {
        width: 2em;
        height: 2em !important;
    }

    .cc-name
    {
        font-size: 1.2em;
    }

    .cc-role
    {
        font-size: 0.8em;
        margin-bottom: 0;
    }
}