.nav-cntr
{
    /* border: 2px solid red !important; */
    margin-bottom: 1em !important;
}
.nav-cntr > a {
    /* border: 2px solid blue; */
    text-transform: capitalize;
    font-size: 1.5em;
    color: black;
}

.nav-cntr .selected {
    color: #56C8ED;
    /* text-decoration: underline;
    text-decoration-thickness: 4px; */
    border-bottom: 2px solid #56C8ED;
}