.App {
    overflow: hidden;
}

.entry-display {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    text-align: center;
    margin-top: 8px;
    padding-top: 0.5em;
    display: flex;
    
    justify-content: center;


    > p, > span {
        font-size: 1.2em;
        padding: 0em 1em;
    }
    
    .mid-text {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    > span {
        margin: 0px 10px;
    }
}
