

.entry-display
{
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.footer
{
    background-color: #33383e;
    /* background-color: #505861 */
    color: white;
    text-align: center;
    border: 2px solid black;
    margin-top: 8px;
    padding-top: 2em;
}
    .footer > p
    {
        font-size: 1.2em;;
    }
        .footer > p > span
        {
            color: #FFC025;
        }
