.App {
    overflow: hidden;
}

.entry-display
{
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.footer
{
    text-align: center;
    margin-top: 8px;
    padding-top: 2em;
}
    .footer > p
    {
        font-size: 1.2em;;
    }
        .footer > p > span
        {
            /* color: #FFC025; */
        }
