$react: #47CDF6;
$cSharp: #0047AB;
$fritzing: #bc1142;
$css: #0fbaf2; 
$html: #FA4C05;
$firebase: #F6820D;
$javascript: #306998;
$python: #306998;
$raspberryPi: #bc1142;
$openScad: black;
$mongoDB: #4DB33D;
$twitter: #1DA1F2;
$cpp: #0047AB;
$postgresSQl: #0064a5;
$arduino: #03C0C1;
$instagram: #E1306C;
$facebook: #4267B2;
$youtube: #ff0000;
$linkedin: #007bb5;
$twitch: #6441a5;
$github: #7289da;
$unity: #6A82CA;



.react {
    color: $react;
}

.c-sharp, .cuttlefish {
    color: $cSharp
}

.fritzing {
    color: $fritzing
}

.css {
    color: $css
}

.html {
    color: $html
}

.firebase {
    color: $firebase
}

.javascript {
    color: $javascript
}
.python {
    color: $python
}

.raspberry-pi {
    color: $raspberryPi
}

.open-scad {
    color: $openScad
}

.mongo-db {
    color: $mongoDB
}

.twitter {
    color: $twitter
}

.twitter-hb:hover {
    background-color: $twitter
}

.cpp {
    color: $cpp
}

.postgres-sql {
    color: $postgresSQl
}

.arduino {
    color: $arduino
}

.instagram {
    color: $instagram
}

.instagram-hb:hover {
    background-color: $instagram
}

.facebook {
    color: $facebook
}

.facebook-hb:hover {
    background-color: $facebook
}

.youtube {
    color: $youtube;
}

.youtube-hb:hover {
    background-color: $youtube;
}

.linkedin {
    color: $linkedin
}

.linkedin-hb:hover {
    background-color: $linkedin
}

.twitch {
    color: $twitch
}

.twitch-hb:hover {
    background-color: $twitch
}

.github {
    color: $github
}

.github-hb:hover {
    background-color: $github
}

.unity {
    color: $unity
}

.unity-hb:hover {
    background-color: $unity
}

