$dark-font-color: #342E37;
$light-font-color: #EFF1ED;

$active-color: #E9B44C;
$content-outline: #261C15;

// button styles
$btn-hover-color: #4E4B4B;
$demo-btn-color:#3cb043;

// brand themes
$discord-color: #7289da;
