
.card-body
{
    
}
    .card-body > .entry-start-date
    {
        margin-top: 2em;
        text-align: center;
    }
    .card-body > .card-cntr
    {
        box-shadow: 0px 0px 3px 3px rgb(99, 97, 97);
        margin: auto;
        margin-top: 1em;
        background-color: white;
        width: 90%;
        max-width: 50em;
        padding: 5px;
    }
    .card-cntr > h4
    {
        text-align: center;
    }

    .video-container
    {
        display: flex;
        justify-content: center;
    }

    .card-carousel
    {
        margin: auto;
        /* border: 4px solid red; */
        width: 30em;
        height: 40em;
        margin-top: 1em;
        margin-bottom: 1em;
        max-width: 50em;
        max-height: 30em;
        overflow: hidden;
    }
        .image-item .carousel-img
        {
            /* border: 4px solid red !important; */
            height: 20% !important;
            
        }

        .card-carousel > ol > li
        {
            background-color: #41c0eb !important;
        }
    .collab-label
    {
        margin-top: 0.5em;
        text-align: center;
    }
    .collab-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1em;
        row-gap: 1em;
        margin-top: 1em;
    }


@media only screen and (max-width: 425px) 
{
    .card-carousel
    {
        /* border: 4px solid red; */
        width: 25em;
        height: 25em;
    }
}

@media only screen and (max-width: 375px) 
{
    .card-carousel
    {
        /* border: 4px solid red; */
        width: 20em;
        height: 20em;
    }
}

@media only screen and (max-width: 320px) 
{
    .card-carousel
    {
        /* border: 4px solid red; */
        width: 15em;
        height: 15em;
    }
}
