
.dcard
{
    border: 2px solid black !important;
    width: 20em;
    height: 22em;
    overflow: hidden;
}
    .dcard:hover
    {
        cursor: pointer;
        /* animation-name: cardFloat;
        animation-duration: 1s; */
        
    }
    .dcard-img
    {
        margin-top: 0.5em !important;
        width: 11em !important;
        height: 9em !important;
        margin: auto;
    }
    .dcard-body
    {
        overflow: hidden;
        
    }
        .dcard-title
        {
            text-transform: capitalize;
        }
        .dcard-text
        {
            overflow: hidden;
        }

        .tag-badge
        {
            color:  white;
            overflow: hidden;
        }
        .tag-badge-more
        {
            width: 2em !important;
            background-color: #0FBAF2 !important;
            color: white;
            overflow: hidden;
        }
    .dcard-footer
    {
        display: flex;
        flex-direction: row;
        justify-content: left;
        column-gap: 0.2em;
    }

    /* @keyframes cardFloat {
        0% {top: 0px;}
        50% {top:-50px}
        100% {top:0px}
    } */

@media only screen and (max-width: 320px) 
{
    .dcard
    {
        width: 18em;
        height: 23em;
        overflow: hidden;
    }
    .tag-badge
    {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
    
}